BODY
{
    FONT-FAMILY: verdana;
    FONT-SIZE: 70%
}
H1
{
    FONT-SIZE: 120%;
    FONT-STYLE: italic
}
DIV#divMenuBar
{
    BACKGROUND-COLOR: #6699cc
}
TABLE#tblMenuBar TD
{
    COLOR: white;
    CURSOR: default;
    FONT-SIZE: 60%;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px
}
TABLE#tblMenuBar TD.clsMenuBarItem
{
    CURSOR: hand;
    FONT-WEIGHT: bold
}
DIV.clsMenu
{
    BACKGROUND-COLOR: #6699cc;
    BORDER-TOP: white 1px solid;
    FONT-SIZE: 70%;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px;
    POSITION: absolute;
    VISIBILITY: hidden;
    WIDTH: 130px
}
DIV.clsMenu A
{
    COLOR: white;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
DIV.clsMenu A:hover
{
    COLOR: moccasin
}
BUTTON
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 100%
}
