[Servico]
ServiceName=BCSrvBacen
Trace=D
MonitorPort=14499
SrvTimeout=120
MaxLenMsg=8192
[Diretorios]
DirTraces=C:\BCSRVSQLMQ\Bacen\Traces
DirAudFile=C:\BCSRVSQLMQ\Bacen\AuditFiles
[DataBase]
DBAliasName=BCSPBSTR
DBServer=SRVCX077
DBName=BCSPBSTR
DbTbStrLog=SPB_LOG_BACEN
DbTbBacenCidadeApp=SPB_BACEN_TO_LOCAL
DbTbCidadeBacenApp=SPB_LOCAL_TO_BACEN
DbTbControle=SPB_CONTROLE
[MQSeries]
MQServer=SOFT10
QueueManager=QM.61377677.01
QueueTimeout=30
QLBacenCidadeReq=QL.REQ.00038166.61377677.01
QLBacenCidadeRsp=QL.RSP.00038166.61377677.01
QLBacenCidadeRep=QL.REP.00038166.61377677.01
QLBacenCidadeSup=QL.SUP.00038166.61377677.01
QRCidadeBacenReq=QR.REQ.61377677.00038166.01
QRCidadeBacenRsp=QR.RSP.61377677.00038166.01
QRCidadeBacenRep=QR.REP.61377677.00038166.01
QRCidadeBacenSup=QR.SUP.61377677.00038166.01
[E-Mail]
ServerEmail=151.65.99.251
SenderEmail=gersut@bancocidade.com.br
SenderName=SPB com Bacen
DestEmail=mduque@bancocidade.com.br
DestName=Miguel
CC1Email=
CC1Name=
CC2Email=
CC2Name=
CC3Email=
CC3Name=
CC4Email=
CC4Name=
CC5Email=
CC5Name=
[Security]
UnicodeEnable=S
SecurityEnable=N
SecurityDB=Public Keys
PublicKeyLabel=tstbacen.spb.net.br
PrivateKeyFile=C:\BCSRVSQLMQ\Bacen\certificates\cidadetst.key
PrivateKeyLabel=SPB Key
KeyPassword=spbcid
